=== {{title}}
{{method}} {{path}}

include::curl-request.adoc[]
include::http-request.adoc[]
include::http-response.adoc[]
{{#request_field}}include::request-fields.adoc[]{{/request_field}}
{{#response_field}}include::response-fields.adoc[]{{/response_field}}