=== {{title}}
{{description}}

----
{{method}} {{path}}
----

{{#request_field}}include::request-fields.adoc[]{{/request_field}}
{{#response_field}}include::response-fields.adoc[]{{/response_field}}
==== request example
include::http-request.adoc[]

==== response example
include::http-response.adoc[]

==== curl example
include::curl-request.adoc[]